.jfx-date-picker {
    -fx-font-family: monospace;
}
.jfx-date-picker-popup:hover, .context-menu:hover * {
    -fx-background-color:
        derive(-fx-color,-40%),
        derive(-fx-color,100%),
        linear-gradient(to bottom, derive(-fx-color,100%) 0%, derive(-fx-color,50%) 12%, derive(-fx-color,65%) 88%, derive(-fx-color,23%) 100%);
}
.jfx-date-picker-day-selected {
    -fx-background-color:
        derive(-fx-focus-color,-40%),
        derive(-fx-focus-color,100%),
        linear-gradient(to bottom, derive(-fx-focus-color,100%) 0%, derive(-fx-focus-color,50%) 12%, derive(-fx-focus-color,65%) 88%, derive(-fx-focus-color,23%) 100%);
}
.jfx-date-picker-calendar {
    -fx-spacing: 30px;
}